body{
    background: #260c2d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
	width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box;
}
.row {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
}
.menu{
	display: flex;
	justify-content: space-around;
	list-style: none;
	margin: 10px;
}
.menu_li_href{
	color: #ffffff;
	text-decoration: none;
	font-size: 25px;
	
}
.content_h1{
	margin-top: 60px;
	color: #bfbfbf;
	text-align: center;
	font-size: 50px;
}
.content{
	flex-wrap: nowrap;
}
.content_block{
	text-align: center;
	width: 30%;
	margin: 0px 10px 0px 10px;
}
.content_block_name, .content_block_author, .content_block_text{
    background: #c0c6e5;
    border-radius: 10px;
    margin: 3px auto;
    padding: 25px;
}
.content_block_submit{
    width: 100%;
    border-radius: 10px;
    background: #8695e4;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.content_block_submit:hover{
    color: #CE242B; /* Цвет ссылки при наведении */
    text-decoration: underline; /* Добавляем подчёркивание */
}

.content_block_img{
	width: auto;
	object-fit: cover;
}
.add_articles_form{
    background: #90f9e5;
    padding: 10px;
}
.add_articles_form_text{
    font-size: 20px;
}
.flash{
    padding:10px;
}

.flash.success{
    border: 1px solid #21BD56;
    background: #AEFFC5;
}

.flash.error{
    border: 1px solid #FF4343;
    background: #FF9C9C;
}





