{% extends 'base.html' %}

{% block content %}
{{ super() }}
<h1 class="content_h1">Добавление статьи</h1>

<div class="content_block_text container">
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{ cat }}">{{ msg }}</div>
    {% endfor %}

    <form action="{{ url_for('add_articles') }}" method="post">
        <p class="add_articles_form_text">Название статьи: <input type="text" name="name" required></p>
        <p class="add_articles_form_text">Автор статьи: <input type="text" name="author"></p>
        <p class="add_articles_form_text">Текст статьи:</p>
        <p><textarea name="text" cols="40" rows="7"></textarea></p>
        <p><input class="add_articles_form_text" type="submit" value="Добавить"></p>
    </form>
</div>
{% endblock %}
