{% extends 'base.html' %}


{% block content %}
{{ super() }}
<h1 class="content_h1">Куда поехать</h1>
<div class="container">
    <div class="row content">
        <div class="col-4 content_block">
            <p class="content_block_text">Горы</p>
        </div>

        <div class="col-4 content_block">
            <p class="content_block_text">Море</p>
        </div>

        <div class="col-4 content_block">
            <p class="content_block_text">Природа</p>
        </div>
    </div>
</div>
{% endblock %}