{% extends 'base.html' %}


{% block content %}
{{ super() }}
<h1 class="content_h1">Путешествия по всему миру!</h1>
<div class="container content_block_text">
<p>Лучшие страны для путешествий сейчас — те, что пускают туристов. Непростой двадцатый научил нас всех ценить простые
    радости вроде открытых кафе, музеев и границ. А еще напомнил, как это — мечтать.
    В новом мире уже не махнешь спонтанно туда, куда наугад ткнул пальцем на карте. Но оттого, что отпуск теперь
    приходится планировать тщательнее, яркие идеи для поездок менее притягательными не стали. Сохраняйте на будущее
    страны мечты и направления для путешествия всей жизни: говорят, визуализация и правда работает.</p>
{% endblock %}
</div>